{% extends 'base.html' %}

{% block content %}


<div class="card mb-3" style="max-width: 1000px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1504215680853-026ed2a45def" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <div class="text-center">
              <h1 class="card-title">Car Rental</h1>
              <p class="card-text">A car rental, hire car, or car hire agency is a company that rents automobiles for short periods of time, generally ranging from a few hours to a few weeks. It is often organised with numerous local branches (which allow a user to return a vehicle to a different location), and primarily located near airports or busy city areas and often complemented by a website allowing online reservations.

                    Car rental agencies primarily serve people who require a temporary vehicle, for example, those who do not own their own car, travelers who are out of town, or owners of damaged or destroyed vehicles who are awaiting repair or insurance compensation. Car rental agencies may also serve the self-moving industry needs, by renting vans or trucks, and in certain markets, other types of vehicles such as motorcycles or scooters may also be offered.
                    
                    Alongside the basic rental of a vehicle, car rental agencies typically also offer extra products such as insurance, global positioning system (GPS) navigation systems, entertainment systems, mobile phones, portable WiFi and child safety seats.</p>
    
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock content %}